@model CategoryListViewModel
@using PagedList.Core.Mvc
@{
    ViewData["Title"] = "Category List Home";
    Layout = "_AdminLayout";
    var route = $"/Categories/Search/{Model.Search}";
}

<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Categories</h2>
        <p class="category">
            All Blog Post Categories!<br />
            <a  asp-action="Create" asp-controller="Categories" class="btn btn-primary">
                Add Blog Post Category
            </a>
        </p>
    </div>
</div>


@if (!Model.PagingCategories.Any())
{
    <div class="content">
        <div class="row mt-2">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="alert alert-danger alert-with-icon" data-notify="container">
                    <span data-notify="icon" class="now-ui-icons objects_support-17"></span>
                    <span data-notify="message">There are no categories yet..<br />Try Adding Some Blog Post Categories</span>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="content">
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="card card-tasks">
                    <div class="card-header">
                        <h4 class="card-title text-center">Search Below For Post Categories</h4>
                    </div>
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <form asp-action="Search" asp-controller="Categories" class="form" method="get">
                                    <div class="input-group">
                                        <input asp-for="Search" autocomplete="on" value="@ViewBag.Search" class="form-control" placeholder="Search Categories...." />
                                        <div class="input-group-append">
                                            <button type="submit" class="input-group-text">
                                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="table-full-width table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>
                                            Category ID
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th class="text-right">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cat in Model.PagingCategories)
                                    {
                                        var Url = $"/Categories/Remove/{cat.Id}";
                                        <tr>
                                            <td>@cat.Id</td>
                                            <td class="text-left">@cat.Name</td>
                                            <td class="td-actions text-right">
                                                <a asp-action="Edit" asp-controller="Categories" asp-route-id="@cat.Id" title="Modify Category" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Modify Category">
                                                    <i class="now-ui-icons ui-2_settings-90"></i>
                                                </a>
                                                <a title="Remove Category" onclick="Delete('@Url')"
                                                   class="delete"
                                                   data-original-title="Delete Category">
                                                    <i class="now-ui-icons ui-1_simple-remove"></i>
                                                </a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row justify-content-center mb-3 mt-3">
                            <pager class="pager-container"
                                   list="@Model.PagingCategories"
                                   options="@PagedListRenderOptions.TwitterBootstrapPager4"
                                   asp-action="Index"
                                   asp-route-Search="@Model.Search"
                                   asp-controller="Categories">
                            </pager>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="modal fade" id="add-category" tabindex="-1" role="dialog" aria-labelledby="AddCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddCategoryLabel">Create New Category Tag</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" method="post" asp-controller="Categories">
                    <div asp-validation-summary="All"></div>
                    <div class="input-group">
                        <input asp-for="CategoryCreate" class="form-control" placeholder="Enter New Category Name..." />
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text">
                                <i class="now-ui-icons design-2_ruler-pencil"></i>
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="CategoryCreate" class="text-danger"></span>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Discard</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script type="text/javascript">

    function Delete(url) {
        var Url = url;
        var redirectUrl="/Categories/Index";
        var target;
        $('body').append(`
                        <div class="modal fade modal-mini modal-primary" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                             <div class="modal-content">
                            <div class="modal-body delete-modal-body">
                                <h5 class="text-center">Are you Sure You want to delete this Item</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-delete">Cancel</button>
                                <button type="button" class="btn btn-danger" id="confirm-delete">Delete</button>
                            </div>
                            </div>
                        </div>
                        </div>`);
        $("#deleteModal").modal('show');
        $("#confirm-delete").on('click', (e) => {
            target = e.target;
            $.post(Url)
                .done((result) => {
                    if (!redirectUrl) {
                        return $(target).parent().parent().hide("slow");
                    }
                    window.location.href = redirectUrl;
                })
                .fail((error) => {
                    if (redirectUrl)
                        window.location.href = redirectUrl;
                }).always(() => {
                    $("#deleteModal").modal('hide');
                });
        });
    }
    </script>
}